{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 11"]
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "loose": true,
        "regenerator": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env", { "loose": true, "targets": { "node": "current" } }]]
    }
  }
}
