[user]
	name = Jens Fielenbach
	email = mail@flexpair.com
[credential]
	helper = "!f() { /home/node/.vscode-server/bin/6f17636121051a53c88d3e605c491d22af2ba755/node /tmp/vscode-remote-containers-b243f800-9ec3-4752-94fe-69581ec0a03c.js git-credential-helper $*; }; f"
